{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}

<div class='row text-center' d-none>
    <div class='col'>
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class='row mb-3' d-none>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>


<div class='row' id='tweetme-2'>
    <div class="row" id="tweets">
        Loading...
    </div>

    <script>

        


    </script>
    {% endblock content %}